// -----------------------------------------------------------------------------
// This file contains all styles related to the tagline of the site/application.
// -----------------------------------------------------------------------------
.tagline {
	margin-top:60px;
	margin-bottom:60px;
	color:$theme-color;
	font-size:50px;
}