// -----------------------------------------------------------------------------
// This file contains all styles related to the TOC of the site/application.
// -----------------------------------------------------------------------------
.toc {
	background-color: $alt-color;
	width:40%;
	color:white;
	border-radius:5px;
	border:1px solid mix(black, $alt-color, 10%);
  	padding:30px;
}

.toc__title {
	margin-top:15px;
	margin-bottom:0;
	font-size:25px;
}

.toc__list {
	list-style-type: none;
	margin-top:0px;
	
	a {
		color:white;
		font-size:17px;
	}
}